body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.75em;
	font-size: 16px;
	background-color: #333;
	color: #000;
}

h2 {
    font-size: 18px;
    font-weight: bold;
}

ol {
    list-style-type: none;
    color: #f66;
    font-size: 18px;
    line-height: 35px;
    counter-reset: kataCounter;
}

ol>li:before{
    content: "Kata " counter(kataCounter) ": ";
    counter-increment: kataCounter;
}